<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui">
	
	<h:head>
		<title>Ide Online</title>
		<meta charset="UTF-8"/>
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  			<h:outputStylesheet library = "css" name = "estilo.css"></h:outputStylesheet>
  		<h:outputScript library = "javascript" name="jquery-1.12.2.min.js" target="head" ></h:outputScript>
		<h:outputScript library = "javascript" name = "teste.js"></h:outputScript>
		<h:outputScript library = "ACE" name = "ace.js" charset="utf-8"></h:outputScript>
  		<h:outputScript library = "bootstrap" name = "js/bootstrap.js"></h:outputScript>
  		<h:outputStylesheet library = "bootstrap" name = "css/bootstrap.css"></h:outputStylesheet>
  		
		
		
		<!-- Como estava antes
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" ></link>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"></link>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script> 
		-->
	
		
	</h:head>
	<h:body>
		<div class = "container-fluid">
			<ul class="nav nav-tabs" id = "tab-inicial">
			  <!--  Por enquanto vai ficar a tag com o + para exemplificar a funcao de criacao de editores -->
			  <li onclick="criar()"><a data-toggle="tab" href="adicionar">+</a></li> 
			</ul>
		</div>
		<div class="tab-content" id="tabs-conteudo">
		</div>
	
	</h:body>	
</html>