<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:f="http://java.sun.com/jsf/core">
	<h:body>
		<h:head><title>Seletor de temas</title></h:head>
		<h:form>
    <p:messages autoUpdate="true" />
 
    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel for="console" value="Basic:" />
        <p:selectOneMenu id="console" value="#{guestPreferences.console}" style="width:125px">
            <f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItem itemLabel="Xbox One" itemValue="Xbox One" />
            <f:selectItem itemLabel="PS4" itemValue="PS4" />
            <f:selectItem itemLabel="Wii U" itemValue="Wii U" />
        </p:selectOneMenu>
 
        <p:outputLabel for="car" value="Grouping: " />
        <p:selectOneMenu id="car" value="#{guestPreferences.car}">
            <f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItems value="#{guestPreferences.cars}" />
        </p:selectOneMenu>
 
        <p:outputLabel for="city" value="Editable: " />
        <p:selectOneMenu id="city" value="#{guestPreferences.city}" effect="fold" editable="true">
            <f:selectItem itemLabel="Select One" itemValue="" />
            <f:selectItems value="#{guestPreferences.cities}" />
        </p:selectOneMenu>
 
        <p:outputLabel for="advanced" value="Advanced:"  />
        <p:themeSwitcher id="advanced" value="#{guestPreferences.theme}" converter="themeConverter" panelStyle="width:180px"
                         effect="fade" var="t" style="width:160px" filter="true" filterMatchMode="startsWith">
            <f:selectItems value="#{guestPreferences.themes}" var="theme" itemLabel="#{theme.displayName}" itemValue="#{theme}" />
 
            <p:column style="width:10%">
                <h:outputText styleClass="ui-theme ui-theme-#{t.name}" />
            </p:column>
 
            <p:column>
                <h:outputText value="#{t.displayName}" />
            </p:column>
        </p:themeSwitcher>
    </h:panelGrid>
 
    <p:commandButton value="Submit" update="display" oncomplete="PF('dlg').show()" icon="ui-icon-check" />
 
    <p:dialog header="Values" modal="true" showEffect="bounce" widgetVar="dlg" resizable="false">
        <p:panelGrid columns="2" id="display" columnClasses="label,value">
            <h:outputText value="Basic:" />
            <h:outputText value="#{guestPreferences.console}" />
 
            <h:outputText value="Grouping:" />
            <h:outputText value="#{guestPreferences.car}" />
 
            <h:outputText value="Editable" />
            <h:outputText value="#{guestPreferences.city}" />
 
            <h:outputText value="Advanced:" />
            <h:outputText value="#{guestPreferences.theme.displayName}" />
        </p:panelGrid>
    </p:dialog>
</h:form>
	</h:body>
</html>