<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui">
	
	<h:head>
		<title>Ide Online</title>
		<meta charset="UTF-8"/>
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  		<style type="text/css" media="screen">
		    body {
		        overflow: hidden;
		    }
		    #body
		    {
		    	height:500px;
		    }
		    .editor
		    {
		    	margin: 0;
		        position: absolute;
		        top: 0;
		        bottom: 0;
		        left: 0;
		        right: 0;
		        width: 100%;	
		    	height:500px;
		    	margin-left: 5px;
			
		    }
		    #lol
		    {
		    
		    }
		    #painel
		    {
		   		
		    }
  		</style>
  		<script>
  			function teste()
  			{
  				alert("lol");
  				document.getElementById("tab_pai").InnerHTML+='<li role="presentation" title = "asda">asdsadd</li>';
  			}
  		</script>
	</h:head>
	<h:body>
		<div id = "body">
			<b:tabView id="tab_pai">
			<!-- Se colocar onclick = "remove();",remove o conteudo da pagina. -->
			<b:tab title="a" onclick ="teste()">
					<b:row >
						<pre id="editor1" class = "editor" >						    
						</pre>
						<script src="resources/ACE/ace.js" type="text/javascript" charset="utf-8"></script>
						<script>
							var editor = ace.edit("editor1");
							editor.setTheme("ace/theme/ambiance");
							editor.session.setMode("ace/mode/java");
						</script>
					</b:row>
				</b:tab>
				<b:tab title="b">
					<b:row >
						<pre id="editor2" class = "editor">						    
						</pre>
						<script src="ACE/ace.js" type="text/javascript" charset="utf-8"></script>
						<script>
							var editor2 = ace.edit("editor2");
							editor2.setTheme("ace/theme/ambiance");
						</script>
					</b:row>
				</b:tab>
			</b:tabView>
			</div>
			<b:panel look="primary" title="Sidebar" id="painel">
				<h:form>
					<p:focus for="terminal" /> 
					<p:terminal id="terminal" widgetVar="term" commandHandler="#{clienteSSHBean.handleCommand}"
					           welcomeMessage="Terminal online, bem vindo!" prompt="&gt;" style="background:green; color:black;"/>			 
					<p:commandButton type="button" value="Clear" icon="ui-icon-trash" onclick="PF('term').clear()" style="margin-top:10px"/>
				</h:form>
			</b:panel>
	</h:body>	
</html>