<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:f="http://java.sun.com/jsf/core">
	
	<h:head>
		<title>Ide Online</title>
		<meta charset="UTF-8"/>
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  		<h:outputScript library = "javascript" name = "teste.js"></h:outputScript>
  		
  		<style type="text/css" media="screen">
		    body {
		        overflow: hidden;
		    }
		
		    #editor {
		        margin: 0;
		        position: absolute;
		        top: 0;
		        bottom: 0;
		        left: 0;
		        right: 0;
		        margin-left: 5px;
				margin-top: 80px;
				
		    }
  		</style>
	</h:head>
	
	<h:body>
		 <pe:layout id="fullPage"  
               stateCookie="true" widgetVar="fpLayoutWidget">
               <pe:layoutPane position="north"  closable="true">   North 
	               
                </pe:layoutPane>
                
            <pe:layoutPane position="south" maxHeight="30">Sul
				<h:form>
				    <p:focus for="terminal" />
				 
				    <p:terminal id="terminal" widgetVar="term" commandHandler="#{clienteSSHBean.handleCommand}" prompt="#{clienteSSHBean.nomeHost}"
				                welcomeMessage="Universidade Federal de Sergipe, emulador de terminal." style="background:red; color:black;"/>
				 
				    <p:commandButton type="button" value="Clear" icon="ui-icon-trash" onclick="PF('term').clear()" style="margin-top:10px"/>
					  
				</h:form>
            </pe:layoutPane> 
            
			<pe:layoutPane position="center"> CENTRO
					
					<h:form>     
					    <p:growl id="messages" showDetail="true" />
					 	<input type="hidden" id="code" name="code" value="" />
					 	
					    <p:toolbar>
					        <f:facet name="left">
					        
					            <p:commandButton  value="Compilar" icon="ui-icon-play"   action="#{clienteSSHBean.saveFile}"  onclick="getCodigoFonte();">
					            
					            </p:commandButton>
					         
					 
					            <span class="ui-separator">
					                <span class="ui-icon ui-icon-grip-dotted-vertical" />
					            </span>
					        </f:facet>
					     </p:toolbar>
					</h:form>
					
				
						
					    
<pre id="editor" >
public class Teste{
	
	public static void main(String[] args){
		System.out.println("Olá !")
	}
}
</pre>
						<script src="src-noconflict/ace.js" type="text/javascript" charset="UTF-8"></script>
						<script>
						    var editor = ace.edit("editor");
						    editor.setTheme("ace/theme/typescript");
						    editor.session.setMode("ace/mode/java");
						</script>
					
			</pe:layoutPane>
			<pe:layoutPane position="west" maxWidth="20"  resizable="false"> Oeste</pe:layoutPane>
			<pe:layoutPane position="east" maxWidth="20"  resizable="false">Leste</pe:layoutPane>
		</pe:layout>
		
	</h:body>
	
</html>